*, p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	color: white;
	font-family: Tahoma, Arial;
	font-weight: 300;
}

a {
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;
}

.header {
	width: 100%;
	height: 25%;
	text-align: center;
	background-color: blue;
	color: white;
	border-bottom: 2px solid black;
}

.header h1 {
	font-size: 40pt;
	font-style: italic;
	font-weight: 100;
	padding-top: 25px;
}

.main {
	display: flex;
	width: 100%;
	height: 75%;
}

.left_menu {
	width: 30%;
	padding: 20px 15px;
	background-color: blue;
}

.left_menu h2{
	font-size: 16pt;
	font-weight: 200;
}

.left_menu ul {
	margin-top: 15px;
	padding-left: 55px;
	font-size: 15pt;
	font-weight: 100;
}


/*
------------  content   --------------
*/

.content {
	width: 100%;
	color: black;
}

.products {
	padding: 15px;
}

.product {
	display: flex;
	width: 100%;
}

.product_logo {
	width: 25%;
	padding: 15px 0;
}

.product_top {
	width: 100%;
	display: flex;
	flex-grow: 1;
	color: white;
}

.product_name {
	display: flex;
	flex-grow: 2;
	padding: 10px;
	background: blue;
	margin-right: 20px;
	font-size: 20pt;
}

.product_price {
	padding: 10px 20px;
	background: blue;
	font-size: 20pt;
}

.product_desc {
	background-color: pink;
	margin: 15px 0;
	padding: 10px 15px;
	font-size: 16pt;
	color: blue;
	text-align: justify;
}

.product_add {
	display: flex;
	margin-top: 25px;
	justify-content: space-between;
}

.product_basket p {
	float: left;
	display: block;
	margin-right: 10px;
}

.product_basket input {
	transform: scale(1.5);
}

.product_piece p {
	float: right;
	margin-left: 10px;
}

.product_piece input {
	font-size: 16pt;
}